body {
   /* background-color: rgb(214,214,214) !important;*/
   background-color: rgb(249,249,249) !important;
    background-image: none !important;
    border-left: 2px solid gray;
    border-right: 2px solid gray;
    height: 620px;
    margin: 0;
   overflow-x:hidden;
    width: 962px;
   
}
#loginbox
{
  background: rgb(198,198,198) url(../images/gradient.png) repeat-x 0 0;
  /*border: solid 1px #b4b4b4;*/
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  margin-left:-250px;
    margin-top:50px;
  z-index: 100;
  position: absolute;
}

.af_commandButton.p_AFTextOnly, .af_goButton.p_AFTextOnly {
    background-color: #3DB7CE;
    background-image: none;
    font-family: sans-serif;
    font-weight:bold;
    font-size: 14px;;
    text-align: center;
}
.af_commandButton:hover, .af_resetButton:hover, .af_goButton:hover, .af_dialog_footer-button:hover, .af_query_button:hover, .AFNoteWindowAllButton:hover, .af_commandButton:focus:hover, .af_resetButton:focus:hover, .af_goButton:focus:hover, .af_dialog_footer-button:focus:hover, .af_query_button:focus:hover, .AFNoteWindowAllButton:focus:hover, .af_trainButtonBar_back-button:hover, .af_trainButtonBar_next-button:hover{
    background-color: #3DB7CE;
    background-image: none;
    font-family: sans-serif;
    font-weight:bold;
    font-size: 14px;;
    text-align: center; 
}

/* Menu Popup */

.AFPopupMenuPopup{
     background-image: none;
   width: 195px;
     background-color: rgb(44,42,43);
     border-style: none;
}
.af_menu_child-container{
    background-color: rgb(44,42,43);
}

/*commandMenuItem_menu-item*/

.af_commandMenuItem_menu-item, .af_goMenuItem_menu-item, .af_menu_submenu{
  height:30px;  
}
.af_commandMenuItem.p_AFHighlighted .af_commandMenuItem_menu-item-text, .af_commandMenuItem.p_AFHighlighted .af_commandMenuItem_menu-item-accelerator, .af_commandMenuItem.p_AFHighlighted .af_commandMenuItem_menu-item-open-indicator, .af_goMenuItem.p_AFHighlighted .af_goMenuItem_menu-item-text, .af_goMenuItem.p_AFHighlighted .af_goMenuItem_menu-item-accelerator, .af_goMenuItem.p_AFHighlighted .af_goMenuItem_menu-item-open-indicator, .af_menu.p_AFHighlighted .af_menu_submenu-text, .af_menu.p_AFHighlighted .af_menu_submenu-accelerator, .af_menu.p_AFHighlighted .af_menu_submenu-open-indicator, .af_commandMenuItem.p_AFHighlighted .af_commandMenuItem_menu-item-icon-style, .af_goMenuItem.p_AFHighlighted .af_goMenuItem_menu-item-icon-style, .af_menu.p_AFHighlighted .af_menu_submenu-icon-style{
    background-color: rgb(44,42,43);;
    
    /*color: #C1E6FF;*/
    color: #3cb6ce;
}
.af_commandMenuItem_menu-item-text, .af_goMenuItem_menu-item-text, .af_menu_submenu-text{
     background-color: rgb(44,42,43);
     color: white;
      font: bold 12px sans-serif;
}

/*commandToolbarButton*/
.af_commandToolbarButton:hover .af_commandToolbarButton_text, .af_commandToolbarButton.p_AFDepressed .af_commandToolbarButton_text, .af_commandToolbarButton.p_AFDepressed:hover .af_commandToolbarButton_text, .af_commandToolbarButton.p_AFSelected .af_commandToolbarButton_text, .af_commandToolbarButton.p_AFSelected:hover .af_commandToolbarButton_text {
  
   color: #3cb6ce;
     font: bold 12px sans-serif;
      white-space: pre;
    width: 140px;
  }
  
 .af_commandToolbarButton_text {
    color: #3cb6ce;
     font: bold 12px sans-serif;
      white-space: pre;
    width: 140px;
  }
.af_commandToolbarButton_dropdown-icon-style{
  background-image: url("/faces/images/blue_arrow1.gif");
  }
  
  .af_commandToolbarButton:hover .af_commandToolbarButton_dropdown-icon-style{
  background-image: url("/faces/images/blue_arrow1.gif");
  }
  
 
  .af_commandToolbarButton.p_AFDepressed .af_commandToolbarButton_dropdown-icon-style, .af_commandToolbarButton.p_AFDepressed:hover .af_commandToolbarButton_dropdown-icon-style, .af_commandToolbarButton.p_AFSelected .af_commandToolbarButton_dropdown-icon-style, .af_commandToolbarButton.p_AFSelected:hover .af_commandToolbarButton_dropdown-icon-style, .af_commandToolbarButton.p_AFSelected:active .af_commandToolbarButton_dropdown-icon-style, .af_commandToolbarButton.p_AFSelected:active:hover .af_commandToolbarButton_dropdown-icon-style{
      background-image: url("/faces/images/blue_arrow1.gif");
  }
  
  .af_commandToolbarButton.p_AFDisabled .af_commandToolbarButton_dropdown-icon-style, .af_commandToolbarButton.p_AFDisabled:hover .af_commandToolbarButton_dropdown-icon-style, .af_commandToolbarButton.p_AFDepressed.p_AFDisabled .af_commandToolbarButton_dropdown-icon-style, .af_commandToolbarButton.p_AFDepressed.p_AFDisabled:hover .af_commandToolbarButton_dropdown-icon-style, .af_commandToolbarButton.p_AFSelected.p_AFDisabled .af_commandToolbarButton_dropdown-icon-style, .af_commandToolbarButton.p_AFSelected.p_AFDisabled:hover .af_commandToolbarButton_dropdown-icon-style, .af_commandToolbarButton.p_AFSelected.p_AFDisabled:active .af_commandToolbarButton_dropdown-icon-style, .af_commandToolbarButton.p_AFSelected.p_AFDisabled:active:hover .af_commandToolbarButton_dropdown-icon-style{
     background-image: url("/faces/images/blue_arrow1.gif"); 
  }
  /*nav list*/
#top-wrapper {
    background: none repeat-x scroll 0 0 #3A3839;
    margin: -9px;
    padding: 4px 2px 8px;
    width: 948px;
}
#topbar {
    height: 18px;
    margin: 0 auto;
    width: 960px;
}
#top {
    width: 100%;
}
#top, #top ul {
    font-family: Arial,serif;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
#top a {
    color: #FFFFFF;
    display: block;
    font: bold 12px sans-serif;
    margin-right: 10px;
  
    padding: 5px 12px 6px;
    text-decoration: none;
    text-transform: none;
}
#top a.arrow {
    background-image: url("/faces/images/blue_arrow1.gif");
    background-position: right center;
    background-repeat: no-repeat;
}
#top li {
    float: left;
    position: static;
    width: auto;
}
#top li ul, #top ul li {
    background-color: #3A3839;
    width: 119px;
}
#top ul li a {
    border: medium none;
    color: #FFFFFF;
    font-family: Arial;
    font-size: 12px;
    font-weight: 400;
    padding: 8px 10px;
    text-align: left;
    text-transform: none;
    margin-left:5px;
}
#top li ul {
    background: none repeat scroll 0 0 #222222;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.6);
    display: none;
    padding-bottom: 0;
    position: absolute;
    z-index: 100;
}
#top li:hover a, #top a:active, #top a:focus, #top li.hvr a {
    background-color: #222222;
    color: #3BB7CF;
}
#top li:hover ul, #top li.hvr ul {
    display: block;
}
#top li:hover ul a, #top li.hvr ul a {
    background-color: transparent;
    color: #FFFFFF;
    text-decoration: none;
}
#top li ul li.hr {
    border-bottom: 1px solid #444444;
    border-top: 1px solid #000000;
    display: block;
    font-size: 1px;
    height: 0;
    line-height: 0;
    margin: 0;
}
#top ul a:hover {
    color: #3BB7CF !important;
    text-decoration: none;
}
#top a span, #top a.arrow span {
    color: #888888;
    display: block;
    font: bold 12px/16px Arial;
    text-shadow: 1px 2px 2px #000000;
    text-transform: uppercase;
}
#top li:hover a span, #top li:hover a.arrow span {
    color: #F8A932;
    display: block;
}
/*********************************Table***********************************/

.table {
    margin: 0;
    /*padding: 10px;*/
    text-align: center;
    font: bold 12px lucida sans;
    line-height: 1.4em;
    /*border-collapse:  collapse;*/
    border: 1px solid #ffffff;
    color: #000000;
        /*width:760px;*/
        /*margin-left:75.0px;*/
    /*background: #F0F0F0;*/
}

table.caption {
    margin: 0;
    height: 5px;
    /*padding: 20px;*/
    color: #000000;
    line-height: 1em;
    text-align: center;
    font: bold 12px lucida sans;
    text-transform: uppercase;
    letter-spacing: 0.14em;
}

.head {
    color: #fff;
    text-align: center;
    border-color:White;
    outline-color:White;
    outline-width:0px; 
    background:rgb(236,236,236);
    padding:10px;
    
  /*width:200px*/
    /*background: #596765;*/
}



.odd {
   border-color:White;
   border-width:1px;
     /*background:rgb(236,236,236);*/
     /*padding:10px;*/
       text-align: center;   
     font:normal  12px  Lucida Sans; color:Black;
     width:100px;
     wrap-option: wrap;
}

af|column::column-header-cell{
/*width:190px;*/
wrap-option: soft-wrap;
background-image:none;
border: none;
background-color: none;
}

.AFTableCellDataVHGrid:alias{
  border: 1px solid #ffffff;
}

/*.AFTableCellHeaderBorder:alias{*/
/*border:none;*/

/*}*/
af|table { -tr-padding-left-width: 10; -tr-padding-right-width: 10;border:none; }
af|column::column-header-cell-content{
  margin: 0px;
       padding:10px;
    color: #000000;

    text-align: center;
    font: bold 12px lucida sans;
    /*text-transform: uppercase;*/
   
    background-color:rgb(214,214,214);
   
}

.AFTableCellPadding:alias{
padding:1px;
}

/**************************************************************/

.outputText{
color:#524e4f; 
font-size:12px;
font-family:Arial, Helvetica, sans-serif;
}

.outputText1{
color:#524e4f; 
font-size:11px;
font-family:Arial, Helvetica, sans-serif;
}
.outputText3{
color:#524e4f; 
font-size:11px;
font-family:Arial, Helvetica, sans-serif;
font-weight: 900;
}
.outputText2{
color:#524e4f; font-size:11.0px;
}
.heading{
color:#3cb6ce;
font-size:20px;
font-family:Arial, Helvetica, sans-serif; 
font-weight:bold;
}

.heading1{
color:#524e4f; font-size:17px; font-weight:bold; font-family:Arial, Helvetica, sans-serif;
}


af|panelFormLayout::label-cell{
     color:#524e4f; 
font-size:11px;
font-family:Arial, Helvetica, sans-serif;
font-weight: 900;
text-align:start;
}

.AFLabelText, .af_outputLabel, .af_inputChoice_label, .af_inputFile_label, .af_inputNumberSpinbox_label, .af_inputText_label, .af_selectBooleanCheckbox_label, .af_selectBooleanRadio_label, .af_inputColor_label, .af_inputDate_label, .af_inputListOfValues_label, .af_selectManyCheckbox_label, .af_selectManyListbox_label, .af_selectOneChoice_label, .af_selectOneListbox_label, .af_selectOneRadio_label, .af_panelLabelAndMessage_label, .portlet-form-label, .portlet-icon-label, .portlet-dlg-icon-label, .portlet-form-field-label, .af_richTextEditor_label, .af_selectManyShuttle_label, .af_selectOrderShuttle_label, .af_selectManyChoice_label, .af_inputComboboxListOfValues_label, .af_inputNumberSlider_label, .af_inputRangeSlider_label{
   color:#524e4f; 
font-size:12px;
font-family:Arial, Helvetica, sans-serif;
}

.loginbtn_goButton:hover{
    background-image: none;
   
}