/*Page Background*/
.portalbackground{
background-color: rgb(252,252,252);
}


/*Inside Panel Background*/
.font{
font-family : Lucida Sans,Georgia,Serif !important;
font-size: 14px;
}

/*Inside Panel Background*/
.panelbackground{
background-color: white;
}

/*Panel Top Gradient*/
.paneltopbackground{
background-color: #4a4748; /* Old browsers */
background: -moz-linear-gradient(top,  #4a4748 59%, #312e2f 89%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(59%,#4a4748), color-stop(89%,#312e2f)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #4a4748 59%,#312e2f 89%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #4a4748 59%,#312e2f 89%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #4a4748 59%,#312e2f 89%); /* IE10+ */
background: linear-gradient(to bottom,  #4a4748 59%,#312e2f 89%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4a4748', endColorstr='#312e2f',GradientType=0 ); /* IE6-9 */
}


/*Text Header On Panel*/
.headertexthome{
.font;
color: #ffffff;
font-weight: bolder !important;
font-style:normal;
background-position:center top;
padding-top:2px;
}


/*Shop By Category Header*/
.categorytext{
.font;
color : #524e4f;
font-weight: bold;
font-style:normal;
}



/*Button Background -- Developers to modify the classname depending on the components*/
.buttonback
{
border-color: #f2af00;
background-color: #F2AD00;
background-image: linear-gradient(bottom, #F2AD00 70%, #EC9200 100%);
background-image: -o-linear-gradient(bottom, #F2AD00 70%, #EC9200 100%);
background-image: -moz-linear-gradient(bottom, #F2AD00 70%, #EC9200 100%);
background-image: -webkit-linear-gradient(bottom, #F2AD00 70%, #EC9200 100%);
background-image: -ms-linear-gradient(bottom, #F2AD00 70%, #EC9200 100%);
background-image: -webkit-gradient(
 linear,
 left bottom,
 left top,
 color-stop(0.7, #F2AD00),
 color-stop(1, #EC9200)
 );
}


/*Button Text -- Developers to modify the classname depending on the components*/
.buttontext{
.font;
font-weight: bold;
color : #3f3c3d;
text-shadow: 0px 1px 0px rgba(231, 231, 231, 1);
font-style:normal;
text-decoration:none;
}

/*Portal Text*/
.contenttext{
.font;
color: #524e4f;
font-weight: normal;
font-style:normal;
line-height: 1.4;
text-align: justify;
}


/*Top Product Text for Carousel*/
.topproducttext{
.font;
color: #ff9f00 !important;
font-weight: bold;
font-style:normal;
text-decoration: none !important;
}

/*Product No Text for Carousel*/
.productnotext{
.font;
color : #878686 !important;
font-weight: normal;
font-style:normal;
text-decoration: none !important;
}

/*Product Price Text for Carousel*/
.productprice{
.font;
color : #3a3839 !important;
font-weight : bold;
font-style:normal;
text-decoration: none !important;
}


/*Headers Font on All pages*/
.header{
.font;
font-size: 15px;
color: #ff9f00;
font-style:italic;
font-weight:bold;
}


/*Links*/
.links{
.font;
color: #2181dc !important;
font-weight: normal !important;
text-decoration: underline !important;
font-style:italic !important;
cursor: auto;
}

.greylinks{
.font;
color: #524e4f !important;
font-weight: bold;
font-style:normal;
text-decoration: none !important;
cursor:auto;
}



/*Card Header*/
.cardheader{
.font;
color: #ff9f00;
font-weight: bold;
font-style: italic;
}

/*All afterlogin panel headers should have this class */
.headertext{
.font;
font-size: 15px;
color : #524e4f;
font-weight: normal;
font-style:normal;
}

/*Content Header*/
.contentheader{
.font;
font-size: 15px;
color: #ff9f00;
font-style:italic;
font-weight:bold;
}



/*SPRITE CSS*/

.sign_in, .card_back, .oil1, .arrow_learn_more, .arrow_learn_more_white, .card_icon_ws, .category_icon, .mail_icon, .message_bell, .pdf_icon, .shop_categories, .arrow_grey{
	background: url(sprites.png) no-repeat;
}

.sign_in{
	background-position: -67px -3px ;
	width: 20px;
	height: 20px;
}

.card_back{
	background-position: -41px -1px ;
	width: 20px;
	height: 20px;
}

.oil1{
	background-position: 0 0;
	width: 35px;
	height: 20px;
}

.arrow_learn_more{
	background-position: -155px -7px ;
	width: 8px;
	height: 8px;
}

.arrow_learn_more_white{
	background-position: -172px -7px ;
	width: 8px;
	height: 8px;
}

.card_icon_ws{
	background-position: -114px -4px ;
	width: 35px;
	height: 20px;
}

.category_icon{
	background-position: -106px -37px ;
	width: 15px;
	height: 20px;
}

.mail_icon{
	background-position: -37px -37px ;
	width: 20px;
	height: 20px;
}

.message_bell{
	background-position: -67px -37px ;
	width: 30px;
	height: 20px;
}

.pdf_icon{
	background-position: -7px -36px ;
	width: 20px;
	height: 20px;
}

.shop_categories{
	background-position: -90px -3px ;
	width: 20px;
	height: 20px;
}

.arrow_grey{
	background-position: -186px -6px ;
	width: 8px;
	height: 8px;
}

